<div class="row">
    <div class="col-3">

    </div>
    <div class="col-9">
        <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
                <label for="name">Név</label> <br>
                <input matInput placeholder="Név" formControlName="name" required />
        
        
        
        
            <button mat-flat-button color="primary" type="submit" [disabled]="cardForm.invalid">
                Mentés
            </button>
        </form>
        {{card | json}}
        {{cardForm.value | json}}
        {{cardForm.valid | json}}
    </div>
</div>



