<div class="row">
    <div class="col-3">

    </div>
    <div class="col-9">
        <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <label for="name">Név</label> <br>
                <input matInput placeholder="Név" formControlName="name" required />
                <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
                    Nevet kötelező megadni
                  </mat-error>
            </mat-form-field>
        
        
        
        
            <button mat-flat-button color="primary" type="submit" [disabled]="cardForm.invalid">
                Mentés
            </button>
        </form>
        {{card | json}}
        {{cardForm.value | json}}
        {{cardForm.valid | json}}
    </div>
</div>



