<!DOCTYPE html>
<html>
<style>

  @import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
  </style>
  <body>

<div class="row" id="banner">
    <div class="col-3"></div>
    <div class="col-6">
      <img style = "width: 100%" src="https://png2.cleanpng.com/sh/199ccf77f4d4f5a96edc7ffb7d80275f/L0KzQYm3WME3N5NmR91yc4Pzfri0iPVieqVtiAZ4bnWwfLFuj71oaZ5qRdR7YX7nPcH5jBR2a6UyRadrN0XlR4TpVsA5QZI1RqY5NkK5R4mCUcU0PGU5SaQCNUO8RYW1kP5o/kisspng-hearthstone-logo-game-brand-product--5b75b73b6089a0.4062678915344412753954.png">
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row" id="list-deck">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="mt-3 mb-4" id="focim">A felhasználók paklijainak listája</h1>
    </div>
    <div class="col-3"></div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">A pakli neve</th>
        <th scope="col">Kártyák</th>
        <th scope="col">A pakli tulajdonosa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let deck of decks; let i = index" [attr.data-index]="i">
        <th scope="row">{{i+1}}</th>
        <td>{{deck.name}}</td>
        <td><div class="cards" *ngFor="let card of deck.cards; let j = index" [attr.data-index]="j" ><a [routerLink]="['/kartya', card.id  ]" style="color: black">
            <img src="{{card.imgsrc}}" style="width: 10%" />
        </a></div></td>
        <td>{{deck.user.username}}</td>
      </tr>
    </tbody>
  </table>
  </body>
  </html>