html, body {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }



#banner {
    background-image: url(https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/0/0d/Skin-Main-Page-Head-Background.jpg);
}

html,body,table {
    background: #ebd19e url(https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/f/fb/Skin-Content-Background.jpg);
    font-family: 'Bree Serif', serif;
}

h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25px;
}

#focim {
    margin-right: 8%;
}

.cards {
    display: inline;
}

table {
    text-align: center;
    width: 80%;
}