<div class="row" id="banner">
    <div class="col-3"></div>
    <div class="col-5">
        <img style = "width: 60%" src="https://png2.cleanpng.com/sh/199ccf77f4d4f5a96edc7ffb7d80275f/L0KzQYm3WME3N5NmR91yc4Pzfri0iPVieqVtiAZ4bnWwfLFuj71oaZ5qRdR7YX7nPcH5jBR2a6UyRadrN0XlR4TpVsA5QZI1RqY5NkK5R4mCUcU0PGU5SaQCNUO8RYW1kP5o/kisspng-hearthstone-logo-game-brand-product--5b75b73b6089a0.4062678915344412753954.png">
    </div>
    <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col ml-3 mt-3">
            <a [routerLink]="['/kartyak']" class="btn btn-dark">Vissza</a>
        </div>
    </div>
    <div class="row mt-4 ml-3" id="content" *ngIf="card">
        <div class="col" [id] = "card">
            <img src="{{card.imgsrc}}" style="width: 20%" class="rounded float-left img-fluid mr-3" />
            <h1 class="mb-2">
                {{card.name}}
                <br />
            </h1>
            <p style="font-size: 1.4em" *ngIf = "card.mana != null ">Mana: {{card.mana}}</p>
            <p style="font-size: 1.4em" *ngIf = "card.mana == null ">Mana: Nincs</p>
            <p style="font-size: 1.4em" *ngIf = "card.damage != null ">Sebzés: {{card.damage}}</p>
            <p style="font-size: 1.4em" *ngIf = "card.damage == null ">Sebzés: Nincs</p>
            <p style="font-size: 1.4em" *ngIf = "card.hp != null ">Életerő: {{card.hp}}</p>
            <p style="font-size: 1.4em" *ngIf = "card.hp == null ">Életerő: Nincs</p>
            <p style="font-size: 1.4em" *ngIf = "card.description != null ">Leírás: {{card.description}}</p>
            <p style="font-size: 1.4em" *ngIf = "card.description == null ">Leírás: Nincs</p>
            <p style="font-size: 1.4em" *ngIf = "card.cardClass != null ">Osztály: {{card.cardClass}}</p>
            <p style="font-size: 1.4em" *ngIf = "card.cardClass == null ">Osztály: Nincs</p>
        </div>
</div>
<div class="row mt-4 ml-3">
    <div class="col-12">
        <p class="text-center">
            <button mat-button [routerLink]="['/kartya', card.id, 'modosit']" class="btn btn-primary">Módosít</button>
            <button mat-button [routerLink]="['/kartya/' + card.id + '/modosit']" class="btn btn-primary">Módosít</button>
        </p>
    </div>
</div>