html {
    font-family: 'Bree Serif', serif;
    background: #ebd19e url(https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/f/fb/Skin-Content-Background.jpg);
}
    
#focim {
    margin-left: 25%;
}

#banner {
    background-image: url(https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/0/0d/Skin-Main-Page-Head-Background.jpg);
}

.col-5 {
    margin-left: 12%;
}

#content {
    margin-left: 10%;
}

p {
    margin-left: 17%;
}