/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;     
    font-family: 'Bree Serif', serif;
    background: #ebd19e url(https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/f/fb/Skin-Content-Background.jpg);
}
body { margin: 0; font-family: "Bree Serif", Roboto, "Helvetica Neue", sans-serif; }
